-- Deploy [% change %] to pg

-- requires: procedures/verify_index
[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]

-- TODO look at why transactions don't work with indexes
-- BEGIN;

CREATE INDEX CONCURRENTLY [% index %] ON [% schema %].[% table %] (
-- TODO
);

-- COMMIT;
