-- Deploy [% change %] to pg

[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

BEGIN;

CREATE POLICY [% action %]_to_[% role %] ON [% schema %].[% table %] FOR
    [% action %]
        TO [% role %]
        USING (
            -- examples:
            -- USING (author_id = current_setting('user.id')::uuid)
            -- USING (TRUE)
            -- NOTE: make sure to enable row level security, or it won't work!
);

COMMIT;
