-- Deploy [% change %] to pg

[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

BEGIN;

[% IF role %]
CREATE POLICY [% policy %] ON [% schema %].[% table %]
FOR [% action %]
[% IF role__is_array %]
TO [% arr__role %]
[% ELSE %]
TO [% role %]
[% END %]
USING (
  author_id = current_setting('user.id')::uuid
);
[% ELSE %]
CREATE POLICY [% policy %] ON [% schema %].[% table %]
FOR [% action %]
USING (
  author_id = current_setting('user.id')::uuid
);
[% END %]

COMMIT;
