-- Deploy [% change %] to pg

-- requires: procedures/verify_policy
[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]

BEGIN;

CREATE POLICY [% policy %] ON [% schema %].[% table %] FOR
    SELECT
        TO [% role %]
        USING (
            -- examples:
            -- USING (author_id = current_setting('user.id')::uuid)
            -- USING (TRUE)
);

COMMIT;
