-- Deploy [% change %] to pg

[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]

BEGIN;

DO $$
BEGIN
    IF NOT EXISTS (
            SELECT
                1
            FROM
                pg_roles
            WHERE
                rolname = '[% role %]') THEN
            CREATE ROLE [% role %];
    END IF;
END $$;

COMMIT;
