-- Deploy [% change %] to pg

-- requires: procedures/add_timestamps
[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

BEGIN;
-- created_at
ALTER TABLE [% schema %].[% table %] ADD COLUMN created_at TIMESTAMP;
ALTER TABLE [% schema %].[% table %] ALTER COLUMN created_at SET DEFAULT NOW();

[% IF updated_at %]
-- updated_at
ALTER TABLE [% schema %].[% table %] ADD COLUMN updated_at TIMESTAMP;
ALTER TABLE [% schema %].[% table %] ALTER COLUMN updated_at SET DEFAULT NOW();

CREATE TRIGGER update_[% schema %]_[% table %]_modtime
BEFORE UPDATE ON [% schema %].[% table %]
FOR EACH ROW
EXECUTE PROCEDURE stamp_updated_at_column();
[% END %]

COMMIT;
