-- Deploy [% change %] to pg

[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

BEGIN;

CREATE TRIGGER [% triggername %] [% when %]
[% op %]
    ON [% schema %].[% table %] FOR EACH ROW
    WHEN (
        NEW.data
IS DISTINCT FROM OLD.data)
EXECUTE PROCEDURE some.method ();

COMMIT;
