-- Deploy [% change %] to pg

-- requires: procedures/verify_function
[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]

BEGIN;

CREATE FUNCTION [% procedure %](
  -- args here
) returns void as $$

$$
LANGUAGE '[% lang %]' [% stability %];

COMMENT ON FUNCTION [% procedure %](
  -- args here
)
IS 'Your comment here';

COMMIT;
