-- Verify [% change %]  on pg

BEGIN;

SELECT plan(1);
SELECT created_at FROM [% schema %].[% table %] LIMIT 1;
[% IF updated_at %]
SELECT updated_at FROM [% schema %].[% table %] LIMIT 1;

SELECT has_trigger( [% schema %], [% table %], update_[% schema %]_[% table %]_modtime );

[% END %]
SELECT * FROM finish();

ROLLBACK;
