-- Revert [% change %] from pg

BEGIN;

[% IF grant.size %]
REVOKE [% action.join(', ') %] ON TABLE [% schema %].[% table %] FROM [% grant.join(', ') %];
[% END %]

DROP POLICY can_select_[% table %] ON [% schema %].[% table %];
DROP POLICY can_insert_[% table %] ON [% schema %].[% table %];
DROP POLICY can_update_[% table %] ON [% schema %].[% table %];
DROP POLICY can_delete_[% table %] ON [% schema %].[% table %];

DROP FUNCTION [% schema | replace('_public', '_private')  %].[% table %]_policy_fn;

COMMIT;
